---
import BaseLayout from "../layouts/BaseLayout.astro";
import Marquee from "../components/Marquee.astro";
import Info from "../components/Info.astro";
const pageTitle = "カコノモリ通信";
const text = fs.readFileSync('./src/data/info.txt', 'utf-8');
---

<style>
  .dotted-border {
    width: 640px;
    padding: 5px 0;
    border: dotted 4px;
    color: #0088ff;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}へようこそ</h1>
  <div class="dotted-border">
    <Marquee message="今年度も頑張りましょう!" duration="15s" />
  </div>
  <h2>お知らせ</h2>
  <Info rows="5" cols="80" text={text} />
  <p>工事中m(_ _)m</p>
</BaseLayout>
