---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "技術メモ(リンク集)";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <h2>HTML</h2>
  <ul>
    <li><a href="https://www.miraiportal.com/minimal-html5/">【HTML】HTML5の最小構成</a></li>
  </ul>
  <h2>Python</h2>
  <ul>
    <li><a href="https://www.miraiportal.com/setup-python-using-rtx/">【Python】rtxを用いたPythonの環境構築</a></li>
    <li><a href="https://www.miraiportal.com/fizzbuzz-in-python/">【Python】FizzBuzz問題の解答例</a></li>
  </ul>
  <h2>Rust</h2>
  <ul>
    <li><a href="https://www.miraiportal.com/setup-rust-using-rtx/">【Rust】rtxを用いたRustの環境構築</a></li>
  </ul>
  <h2>Node.js</h2>
  <ul>
    <li><a href="https://www.miraiportal.com/setup-nodejs-using-rtx/">【Node.js】rtxを用いたNode.jsの環境構築</a></li>
    <li><a href="https://www.miraiportal.com/hello-world-in-nodejs/">【Node.js】Node.jsでHello, world!</a></li>
    <li><a href="https://www.miraiportal.com/execute-typescript-directly-without-precompiling/">【Node.js】TypeScriptを事前にコンパイルせずに直接実行する</a></li>
    <li><a href="https://www.miraiportal.com/ping-api-in-nodejs/">【Node.js】pingで呼び出すとpongを返すWeb APIを作成する</a></li>
    <li><a href="https://www.miraiportal.com/restart-automatically-when-file-modified/">【Node.js】ファイルの変更を検知して、プロセスを自動で再起動する(ホットリロード)</a></li>
    <li><a href="https://www.miraiportal.com/compile-typescript-to-javascript/">【Node.js】TypeScriptをJavaScriptにコンパイルする</a></li>
    <li><a href="https://www.miraiportal.com/import-txt-as-array/">【Node.js】テキストファイルの内容を文字列の配列として読み込む</a></li>
    <li><a href="https://www.miraiportal.com/import-json-as-object/">【Node.js】JSONファイルの内容をオブジェクトとして読み込む</a></li>
    <li><a href="https://www.miraiportal.com/export-array-as-txt/">【Node.js】文字列の配列をテキストファイルとして書き出す</a></li>
    <li><a href="https://www.miraiportal.com/export-object-as-json/">【Node.js】オブジェクトをJSONファイルとして書き出す</a></li>
    <li><a href="https://www.miraiportal.com/get-now-date-as-string/">【Node.js】現在時刻を文字列として取得する</a></li>
    <li><a href="https://www.miraiportal.com/force-nodejs-version/">【Node.js】Node.jsのバージョンを強制する</a></li>
    <li><a href="https://www.miraiportal.com/force-use-of-npm/">【Node.js】npmの使用を強制する</a></li>
    <li><a href="https://www.miraiportal.com/switch-nodejs-version-automatically/">【Node.js】Node.jsのバージョンを自動で切り替える</a></li>
  </ul>
  <h2>Express</h2>
  <ul>
    <li><a href="https://www.miraiportal.com/ping-api-with-express/">【Express】pingで呼び出すとpongを返すWeb APIを作成する</a></li>
  </ul>
  <h2>Jest</h2>
  <ul>
    <li><a href="https://www.miraiportal.com/mock-now-date/">【Jest】現在時刻をモックする</a></li>
    <li><a href="https://www.miraiportal.com/mock-timezone/">【Jest】タイムゾーンをモックする</a></li>
  </ul>
  <h2>Astro</h2>
  <ul>
    <li><a href="/posts/astro/open-external-link-in-new-tab/">【Astro】外部リンクを新しいタブで開くようにする</a></li>
    <li><a href="/posts/astro/copyright-component/">【Astro】Copyrightコンポーネントを実装する</a></li>
    <li><a href="/posts/astro/marquee-component/">【Astro】Marqueeコンポーネントを実装する</a></li>
  </ul>
  <h2>Git</h2>
  <ul>
    <li><a href="https://www.miraiportal.com/empty-commit/">【Git】ファイルをインデックスに追加せずにコミットする(空コミット)</a></li>
  </ul>
  <h2>AWS</h2>
  <ul>
    <li><a href="https://www.miraiportal.com/redirect-to-www/">【AWS】wwwなしからwwwありのURLにリダイレクトさせる</a></li>
    <li><a href="https://www.miraiportal.com/restrict-access-to-paths-by-ip/">【AWS】特定のパスへのアクセスを特定のIPアドレスからのみに制限する</a></li>
  </ul>
  <h2>その他</h2>
  <ul>
    <li><a href="https://www.miraiportal.com/fizzbuzz-question/">FizzBuzz問題の問題文</a></li>
  </ul>
</BaseLayout>
