---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "技術メモ";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <ul>
    <li><a href="/posts/minimal-html5/">【HTML】HTML5の最小構成</a></li>
  </ul>
</BaseLayout>
