---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "技術メモ";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <h2>HTML</h2>
  <ul>
    <li><a href="/posts/html/minimal-html5/">【HTML】HTML5の最小構成</a></li>
  </ul>
  <h2>Astro</h2>
  <ul>
    <li><a href="/posts/astro/open-external-link-in-new-tab/">【Astro】外部リンクを新しいタブで開くようにする</a></li>
    <li><a href="/posts/astro/copyright-component/">【Astro】Copyrightコンポーネントを実装する</a></li>
    <li><a href="/posts/astro/marquee-component/">【Astro】Marqueeコンポーネントを実装する</a></li>
  </ul>
  <h2>Node.js</h2>
  <ul>
    <li><a href="/posts/nodejs/setup-nodejs-using-rtx/">【Node.js】rtxを用いたNode.jsの環境構築</a></li>
    <li><a href="/posts/nodejs/hello-nodejs/">【Node.js】Node.jsでHello, world!</a></li>
    <li><a href="/posts/nodejs/force-nodejs-version/">【Node.js】Node.jsのバージョンを強制する</a></li>
    <li><a href="/posts/nodejs/force-use-npm/">【Node.js】npmの使用を強制する</a></li>
    <li><a href="/posts/nodejs/switch-nodejs-version-automatically/">【Node.js】Node.jsのバージョンを自動で切り替える</a></li>
    <li><a href="/posts/nodejs/now-date-as-string/">【Node.js】現在時刻を文字列として取得する</a></li>
  </ul>
  <h2>Python</h2>
  <ul>
    <li><a href="/posts/python/setup-python-using-rtx/">【Python】rtxを用いたPythonの環境構築</a></li>
  </ul>
</BaseLayout>
