---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "技術メモ";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <ul>
    <li><a href="/posts/html/minimal-html5/">【HTML】HTML5の最小構成</a></li>
    <li><a href="/posts/astro/marquee-component/">【Astro】Marqueeコンポーネントを実装する</a></li>
    <li><a href="/posts/nodejs/setup-nodejs-using-rtx/">【Node.js】rtxを用いたNode.jsの環境構築</a></li>
    <li><a href="/posts/astro/open-external-link-in-new-tab/">【Astro】外部リンクを新しいタブで開くようにする</a></li>
    <li><a href="/posts/astro/copyright-component/">【Astro】Copyrightコンポーネントを実装する</a></li>
  </ul>
</BaseLayout>
