---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "プロフィール";
---

<BaseLayout pageTitle={pageTitle}>
  <a href="/">ホーム</a>
  <a href="/profile/">プロフィール</a>
  <a href="/memo/">技術メモ</a>
  <h1>{pageTitle}</h1>
  <table>
    <tr>
      <td>HN</td>
      <td>玖堂いのは</td>
    </tr>
    <tr>
      <td>HNの由来</td>
      <td>ゲームの難易度(イージー、ノーマル、ハード)から</td>
    </tr>
    <tr>
      <td>好きな曲</td>
      <td>SOUL'd OUTの「ウェカピポ」</td>
    </tr>
  </table>
</BaseLayout>
